body {
    background-image: url(./images/bg-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed;
    font-family: "Microsoft YaHei", "PingFang SC", sans-serif;
    padding: 20px;
}

.portfilio {
    width: 80%;
    background-color: rgba(220, 166, 116, 0.5);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 900px;
}

h1 {
    font-size: 35px;
    font-style: italic;
  }

h2 {
    font-size: 17px;
  }

h1, h2 {
    text-align: center;
  }

p {
    text-align: left;
    text-indent: 2em;
}


footer p {
    text-align: center;
    font-size: 13px;
}

hr {
    height: 2px;
    background-color: rgb(195, 86, 23);
    border-color: rgb(195, 86, 23);
}

.bottom-line {
    margin-top: 50px;
}

a {
    color: black;
    text-decoration: none;
}

/* 项目图片 */
a:hover {
    color: rgb(195, 86, 23);
}

.container {    
    display: flex;
    margin-top: 20px;
}

.project {
    padding: 10px;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.project img {
    width: 200px;
    height: auto;
    border: 2px solid black;
}



  