body {
    background-image: url(./images/bg-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center; 
    background-attachment: fixed;
    font-family: "Microsoft YaHei", "PingFang SC", sans-serif;
    padding: 20px;
}

.portfilio {
    width: 80%;
    background-color: rgba(220, 166, 116, 0.5);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 900px;
}

h1 {
    font-size: 35px;
    font-style: italic;
  }

p {
    font-size: 17px;
  }

h1 {
    text-align: center;
  }

.intro p {
    text-align: left;
    text-indent: 2em;
}


footer p {
    text-align: center;
    font-size: 13px;
}

hr {
    height: 2px;
    background-color: rgb(195, 86, 23);
    border-color: rgb(195, 86, 23);
}

.bottom-line {
    margin-top: 50px;
}


/* 项目图片 */
a {
    color: black;
    text-decoration: none;
}

.project:hover {
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.container { 
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project {
   background-color: rgb(237, 145, 63);
    margin: 10px;
   
    text-align: center;
    border: 3px solid black;
}

.project img {
    width: 200px;
    height: 260px;
}



  
